@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Proxima Nova EB';
    src: url(../fonts/ProximaNovaEB.otf);
}

@font-face {
    font-family: 'Proxima Nova B';
    src: url(../fonts/ProximaNovaB.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}